{
  test: /\.(js|jsx)$/,
  include: paths.appSrc,
  loader: require.resolve('babel-loader'),
  options: {
       plugins: [
       ['import', { libraryName: 'antd', style: 'css' }],
     ],
  cacheDirectory: true
}
},